{% extends "base.html" %}

{% block title %}
    {{ block.super }} – ответы на вопрос
{% endblock %}
{% block pagetitle %}{{ post }}{% endblock %}
{% block content %}
    <div class="author">
        Author:{{ post.author }}
    </div>
    <div class="question" style="width: 500px;border: 10px">
        {{ post.text }}
    </div>

    {% for answer in answers %}
        <br>
        <div>anthor: {{ answer.author }}</div>
    <div class="answer" style="width: 500px">
        {{ answer.text }}
    </div>
    {% endfor %}

    <form class="form-horizontal" method="post">
        <fieldset>
            {{ form.as_p }}
            {% csrf_token %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Ответить</button>
        </div>
    </form>

{% endblock %}











